body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#rules{
  font-size: 30px;
  background-color: lightsteelblue;
  text-align: left;
  margin:7% 25%;
  color: rgb(14, 73, 14);
  padding: 3%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#rules-link{
  text-decoration: none;
  color: rgb(16, 85, 85);
}
#rules-heading{
  text-align: left;
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
#myself{
  color: aqua;
  font-size: 30px;
  margin-left: 75%;
  margin-right: 3%;
  padding: 5px;
  border: 2px solid rgb(71, 96, 211);
  font-family: "cursive";
}
.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: rgb(0, 183, 255);
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
